.inputBanner {
	width: 100%;
	max-width: 140rem;
	border: 1px dashed blue;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8rem;
	padding: 5rem;
	// margin-bottom: 3rem;
}
.primaryBtn {
	background: #000;
	color: white;
	padding: 1rem 2rem;
	border-radius: 0.5rem;
}
