.appHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.brandText {
	font-size: 4rem;
	font-weight: bold;
}

.menuIcon {
	display: flex;
	height: 0.2rem;
	width: 3rem;
	background: #000;
	position: relative;
	&::before,
	&::after {
		position: absolute;
		display: flex;
		height: 0.2rem;
		content: "";
		width: 3rem;
		background: #000;
	}

	&::before {
		transform: translateY(-0.75rem);
	}
	&::after {
		transform: translateY(0.75rem);
	}
}
